body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 0 0 20px 20px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

header nav img {
  width: 200px;
  height: auto;
  margin-right: 20px;
  align-self: flex-start;
  position: relative;
  right: 400px;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
  position: relative;
  right: 180px;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  background: #fff;
  color: #000;
  border-radius: 5px;
  padding: 5px 10px;
}

/* Adjusted margin to prevent content overlap */
.about {
  padding: 20px 0;
  background: #f8f8f8;
  margin-top: 200px; /* Adjust this value based on the actual height of the header */
}

.about h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #000;
  text-align: center;
}

.about p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #333;
}

.about ul {
  font-size: 18px;
  margin-left: 20px;
  color: #333;
}

.about ul li {
  margin-bottom: 10px;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
